* {
    margin: 0;
    padding: 0;
}

.all {
    overflow: auto;
    box-sizing: border-box;

    .head_box {
        width: 100%;
        height: 10vh;
        background-color: #C4C4C4;
        // 元素变弹性容器
        display: flex;
        // 子元素在主轴方向居中
        justify-content: center;
        position: fixed;

        .head_box_text {
            height: 100%;

            #head_list {
                /* 将默认的列表符号去掉 */
                list-style: none;
                padding-top: 3vh;

                li {
                    display: inline-block;
                    margin-left: 20px;
                }
            }
        }
    }


}

.main div~div {
    box-sizing: border-box;
    width: 100%;
    height: 100vh;
    padding-top: 5rem;
        //这种写法不可以
        // :nth-child(2n){
        //     background-color: white;
        // }

        // :nth-child(2n+3){
        //     background-color: #C4C4C4;
        // }

    :first-child {
        font-size: 3rem;
        padding-left: 4rem;
        font-weight: bold;
    }
}
//白色是默认，可以不写
// .main :nth-child(2n) {
//     background-color: white;
// }

.main :nth-child(2n+3) {
    background-color: #C4C4C4;
}

//未优化前的代码
// #Personal_Introduction {
//     width: 100%;
//     height: 100vh;
//     padding-top: 5rem;
//     background-color: white;


//     .Personal_Introduction_text {
//         font-size: 3rem;
//         padding-left: 4rem;
//         font-weight: bold;
//     }
// }

// #Work_Experience {
//     width: 100%;
//     height: 100vh;
//     padding-top: 5rem;
//     background-color: #C4C4C4;


//     .comment_part_text {
//         font-size: 3rem;
//         padding-left: 4rem;
//         font-weight: bold;
//     }
// }

// #Educational_Experience {
//     width: 100%;
//     height: 100vh;
//     padding-top: 5rem;
//     background-color: white;


//     .comment_part_text {
//         font-size: 3rem;
//         padding-left: 4rem;
//         font-weight: bold;
//     }
// }

// #Language_Skills {
//     width: 100%;
//     height: 100vh;
//     padding-top: 5rem;
//     background-color: #C4C4C4;


//     .comment_part_text {
//         font-size: 3rem;
//         padding-left: 4rem;
//         font-weight: bold;
//     }
// }

// #Awards_and_Certificates {
//     width: 100%;
//     height: 100vh;
//     padding-top: 5rem;
//     background-color: white;


//     .comment_part_text {
//         font-size: 3rem;
//         padding-left: 4rem;
//         font-weight: bold;
//     }
// }